
<div class="row">
  <section id="search_area">
    <h4>Search for your dream holiday</h4>
    <div class="row">
        <form class="" action="/spaces/search" method="post">
          <div class="col-md-4">
          <h5>Start Date</h5>
          <input type="date" name="start_date" value="<%=@dates.first%>">
          <p>
          </p>
          <button class="btn btn-danger btn-sm" type="submit">Search</button>
      </div>
      <div class="col-md-8">
        <h5>End Date</h5>
        <input type="date" name="end_date" value="<%=@dates.last%>">
      </div>
      </form>


    </div>
    </section>
</div>



<ul id="spaces">
  <% @spaces.each do |space| %>
  <div class="row">
    <article class="space">
    <div class="col-md-8">

        <h2 class="space_head"><%=space.name %></h2>
      <span class="space_desc"><%=space.description%></span><br>
      <span class="space_cost">Cost per night £<%=space.price%></span>
    </div>
    <div class="col-md-4">
      <% if current_user %>
      <form action='/requests' method="post">
        <p>
          <input type="hidden" name="space_id" value=<%=space.id%>>
          <button class="btn btn-danger btn-sm" type="submit" name="Request">Request to book</button>
        </p>
      </form>
      <% end %>
    </div>
    </article>
  </div>
  <% end %>
</ul>
