<h1>Requests</h1>

<ul class="requests_made">
  <h3>Requests I've made</h3>
  <%@requests_made.each do |request|%>
  <%space = Space.first(id: request.space_id)%>
  <li><%=space.name%></li>
  <li><%=request.start_date.strftime('%Y-%-m-%-d')%></li>
  <li><%=request.end_date.strftime('%Y-%-m-%-d')%></li>
  <li>Booking confirmed? <%=request.booked%></li>
  <%end%>
</ul>

<ul class="requests_received">
  <h3>Requests I've received</h3>
  <% if @requests_received != nil %>
    <%@requests_received.each do |request|%>
    <%space = Space.first(id: request.space_id)%>
    <li><%=space.name%></li>
    <li><%=request.start_date.strftime('%Y-%-m-%-d')%></li>
    <li><%=request.end_date.strftime('%Y-%-m-%-d')%></li>
    <li>Booking confirmed? <%=request.booked%></li>

    <form action="/requests/confirm/<%=request.id%>" method="post">
      <input type="hidden" name="_method" value="put">
      <button class="btn btn-danger" type="submit">confirm booking</button>
    </form>
    <br>
    <form action="/requests/deny/<%=request.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger" type="submit">reject booking</button>
  </form>
    <%end%>
  <%end%>
</ul>
