<h1>Requests</h1>

<ul class="requests_made">
  <h3>Requests I've made</h3>
  <%@requests_made.each do |request|%>
  <%space = request.space%>
  <li><%=space.name%></li>
  <li><%=request.start_date.strftime('%Y-%-m-%-d')%></li>
  <li><%=request.end_date.strftime('%Y-%-m-%-d')%></li>
  <li>Booking confirmed? <%=request.booked%></li>
  <%end%>
</ul>

<% if @requests_received != nil %>
  <h3>Requests I've received</h3>
  <ul class="requests_received">
    <%@requests_received.each do |request|%>
      <% space = request.space %>
      <li id="request_<%=request.id %>">
        <p><%=space.name%></p>
        <p><%=request.start_date.strftime('%Y-%-m-%-d')%></p>
        <p><%=request.end_date.strftime('%Y-%-m-%-d')%></p>
        <p>Booking confirmed? <%=request.booked%></p>

        <form action="/requests/confirm/<%=request.id%>" method="post">
          <input type="hidden" name="_method" value="put">
          <button class="btn btn-danger" type="submit">confirm booking</button>
        </form>
        <br>
        <form action="/requests/deny/<%=request.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="btn btn-danger" type="submit">reject booking</button>
        </form>
      </li>
    <%end%>
  <%end%>
</ul>
